/*
 * Overrides CSS
 */

.container {
   max-width: 1024px;
   background-color: #fff;
   padding: 20px;
}

.clr {
   clear: both;
}

  @media(min-width: 1025px) {
    .top-buffer {
        margin-top: 40px;
    }

    .is_home { /*scroll vertical startseite hidden*/
/*      overflow-y: hidden;*/
    }
  }

  body.site a.phone_slider {
    color: #0fa0f3 !important; 
  }

.corp_color {
   color: #0fa0f3;
}

body main#content p {
   font-size: 14px;
   color: #222;
}

body main#content h1,
body main#content h2,
body main#content h3 {
   font-weight: 200;
}

body.itemid-118 .item-image img {
    max-width: 258px;
}


  body main#content h1 {
    font-size: 28px;
  }

  div.page-header {
      border: none;
  }

  body.not_home .container.content {
    max-width: 730px;

  }

  .is_home .clear-bottom .container {
      padding: 10px 20px 0px;
  }

  .is_home .container.content {
      padding: 10px 20px;
  }

  .is_home .bottom.container {
      padding: 5px 20px;
  }

  .container.content ul {
/*      list-style-type: none;*/
  }

  .container.content ul li {
      padding: 0px 10px 15px 0px;
      list-style-position: outside;
  }

/*item-img*/
  .item-image img {
      box-shadow: 0px 0px 20px 1px rgba(123, 123, 123, 0.62);
  }

  body.itemid-114 .blog .item-image {
      max-width: 220px;
  }

/*table*/

.itemid-120 table {
    max-width: 510px;
}

.itemid-120 table td {
    padding: 10px 10px 0px 0px;
    width: 20%;
}


 /*Menue*/
 div.region-slogan {
    display: none;
 }
@media (min-width: 1090px) {
      /*region*/
        div.region-slogan {
            position: absolute;
            right: 0;
            padding: 5px 10px 0px 0px;
            text-transform: uppercase;
            font-style: italic;
            color: #0fa0f3;
            font-size: 16px;
            display: inline;
        }
  }

@media (min-width: 980px) {

    ul.nav.menu.nav-pills li {
        padding-left: 0.3em;
    }

   div#nav-inner089 ul.nav.menu.nav-pills {
      margin: 0px auto;
      float: none;
      max-width: 769px;
   }

   nav.navbar-wrapper {
      border-top: 11px solid #f6f7f8;
      border-bottom: 11px solid #f6f7f8;
      margin: 0px 0px 20px 0px;
   }

   div#nav089 {
      margin: 0px;
   }

   div#nav-inner089 {
      background: none;
      border: none;
      box-shadow: none;
      display: inline;
   }

   div#nav-inner089 ul li {
      margin: 5px 0px;
   }

   div#nav-inner089 ul li a {
      text-transform: uppercase;
      vertical-align: middle;
      padding: 10px 8px 10px;
      display: inline;
      background-color: none;
      text-shadow: none;
      border-radius: 0px;
      transition: all 0.5s ease-in-out;

   }

   div#nav-inner089 ul li>a:hover {
      background: #0fa0f3;
      text-shadow: none;
      padding: 25px 8px;
      color: #fff;
   }

    div#nav-inner089 ul.nav-child li a:hover {
      background: none;
      text-shadow: none;
      color: #fff;
      padding: 6px 20px;
   }      

   #nav089 .nav > .active > a,
   #nav089 .nav > .active > a:focus {
      color: #fff;
      text-decoration: none;
      background-color: #0fa0f3;
      text-shadow: none;
      padding: 25px 15px;
      border-radius: 0px;
      box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.36);
      transition: all 0.5s ease-in-out;

   }

   #nav089 .nav > .active > a:hover {
      color: #fff;
      background-color: rgba(15, 160, 243, 0.66);
      box-shadow: inset 0px -2px 9px 2px rgba(49, 167, 251, 0.97);
   }

   div#nav-inner089 ul li ul li {
       padding: 20px 9px;
   }

   ul.nav-child li a {
      font-size: 12px;
   }

   #nav089 .nav ul.nav-child li {
      /*background-color: #fff;*/
      transition: all 0.5s ease-in-out;
   }
   #nav089 .nav ul.nav-child li:hover {
      background-color: #94c120;
 /*     padding: 18px 20px;*/
   }

   #nav089 .nav ul.nav-child li:hover a{
      color: #fff;
   }

   body .nav-child >li.active,
   body .nav-child >li.active:hover,
   body .nav-child >.active>a {
      background-color: #94c120;
      background-image: none;
  }

 /* Activates hovering the main items to show the sub items */

   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;

   }


   body.site .nav-pills > li.dropdown ul.dropdown-menu,
   body.site .nav-tabs > li.dropdown ul.dropdown-menu {
      visibility: hidden;
      opacity: 0;
      /*display: none;*/
      zoom: 0;
      height: 0px;
      top: 0px;
      transition: all 0.1s ease-in;
   }
 
   body.site .nav-pills > li.dropdown:hover ul.dropdown-menu,
   body.site .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      visibility: visible;
      /*display: block;*/
      opacity: 1;
      top: 30px;
      height: auto;
      zoom: 1;
      transition: all 0.3s ease-in;
   }
   body.site .dropdown-menu {
      display: block;
   }
/*   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;  
   }*/
 
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/*Kategorien Startseite*/


  div.span4.cat_content {
      position: relative;
  }

  .cat_header {
      position: absolute;
      top: -7px;
      color: #fff;
      text-transform: uppercase;
      text-align: right;
      width: 95%;
  }
  .cat_header h3 {
     font-size: 18px;
     text-shadow: 2px 2px 5px #6B6B6B;
     letter-spacing: 1px;
     z-index: 5;
  }

  .cat_banner {
     position: absolute;
     bottom: 22px;
     left: 0px;
     color: #000;   
     text-align: center;
     width: 100%;
     opacity: 1;
     background-color: rgba(255,255,255, 0.8);
     transition: all 0.2s linear;
  }

  .cat_banner h3 {
     font-size: 16px;
     margin: 0px;
     padding: 0px;
     line-height: 25px;
     font-weight: 500;
  }

@media(min-width: 1025px) {

  img.img_visible {
     opacity: 1;
     border: none;
     transition: all 0.4s linear;
  }

  div.cat_content:hover img.img_visible {
     opacity: 0;
  }

  img.img_hover {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      /*zoom: 1;*/
      width: 100%;
      border: none;
      transition: all 0.6s linear;
  }

  div.cat_content:hover img.img_hover {
       opacity: 0.9;
    /*   zoom:1.5;*/
      width: 100%;
  }

    div.gradient-bck {
        max-height: 211px;
    }

    div.gradient-bck::before {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 0%;
        background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
        background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(68, 152, 140, 0.62) 75%);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0);
        z-index: 1;
        visibility: hidden;
        transition: opacity 0.8s ease-in;
    }

    div.cat_content:hover .gradient-bck::before {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        height: 98%;
    } 

  .further_button {
      position: relative;
      bottom: -40px;
      opacity: 0;
      margin: 0px auto;
      width: 60%;
      text-align: center;
      z-index: 2;
      visibility: hidden;
      transition: all 0.5s ease-in-out;
  }

  .further_button a {
     padding: 10px 15px;
     font-size: 16px;
     border: 2px solid rgba(255, 255, 255, 0.7);
     color: #fff;
     background-color: none;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow: 0px 1px 1px #3E3E3E;
     transition: all 0.5s linear;
  }

  .further_button a:hover {
     color: #fff;
     text-decoration: none;
     background-color: rgba(255,255,255, 0.3);
     border: 2px outset rgba(255, 255, 255, 0.6);
     transition: all 0.15s ease-in-out;
  }

  div.cat_content:hover .further_button {
      bottom: 100px;
      opacity: 1;
      visibility: visible;
  }

  .further_button a:active {
     color: #fff;
     font-size: 15px;
     border: 4px inset rgba(255, 255, 255, 0.6);
  }

  .further_button a:visited {
     color: #fff;
     text-decoration: none;
  }

  div.cat_content:hover .cat_banner {
     position: absolute;
     left: -60px;
     color: #000;
     opacity: 0;   
  }
}

/*bottom2*/

@media(min-width: 768px) {
   .row-fluid.span12.logo-container {
       position: relative;
       top: 35px;
   }
}

   h2.site-description {
      color: #0FA0F3;
      text-transform: uppercase;
      font-size: 31px;
      font-weight: 300;
      margin: 0px;
      position: relative;
      top: 40px;
   }

   h2.site-description span {
      color: #94c120;
    }

/*Footer*/

footer.clear-footer {
    max-height: 70px;
}

.span12.footer.impressum.hidden-phone {
    text-align: right;
    padding: 5px 25px 0px;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
}

.span12.footer.impressum.hidden-phone a {
    color: rgb(119,119,119);  
}
.copyright {
    margin: 15px 0px 25px 0px;
}

.span12.footer {
    max-height: 30px;
}

/*Slider */

.vcard {
    text-align: center;
    font-style: italic;
    color: #0fa0f3;
    text-transform: uppercase;
}

div#slider-vcard.vcard span.region,
div#slider-vcard.vcard p.tel {
    font-size: 25px;
    line-height: 31px;
}

  .vcard .fn,
  .vcard .street-address,
  .vcard .postal-code,
  .vcard .country-name,
  .vcard .region {
    display: none;
}

/*Kontakt-ribbon*/

.site_wrapper .right-edge.fork {
    border-radius: 0 5px 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 40px;
    right: -5px;
    top: 20%;
    width: 140px;
}
.site_wrapper .ribbon-wrap {
    color: #FFFFFF;
    position: fixed;
    text-align: center;
    z-index: 11;
}

.site_wrapper .ribbon-wrap a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    opacity: 1;
}

  .site_wrapper .ribbon-wrap a.typo {
      position: relative;
      right: 0px;
      transition: all 0.3s ease-out;
  }

  a.env_open img {
      position: relative;
      bottom: 40px;
      right: -100px;
      padding: 0px 40px;
      transition: all 0.3s ease-out;
  }

  .site_wrapper .ribbon-wrap:hover a.env_open img {
      right: 0px;
  }

  .site_wrapper .ribbon-wrap:hover a.typo {
      right: -250px;
  }


.site_wrapper .lblue.right-edge:before {
    border-right-color: #174C66;
    border-top-color: #174C66;
}
.site_wrapper .right-edge.fork:before {
    background: none repeat scroll 0 0 #666666;
    bottom: 5px;
    box-shadow: -25px 8px 4px rgba(41, 41, 41, 0.5);
    height: 20px;
    left: 22px;
    transform: rotate(22deg) skew(-18deg, -28deg);
      -webkit-transform: rotate(22deg) skew(-18deg, -28deg);
    width: 80px;
    transition: all 0.4s ease-in-out;
}

.site_wrapper .right-edge.fork:after {
    background: none repeat scroll 0 0 #666666;
    box-shadow: -20px -5px 4px rgba(0, 0, 0, 0.5);
    height: 20px;
    left: 22px;
    top: 5px;
    transform: rotate(-32deg) skew(18deg, 28deg);
      -webkit-transform: rotate(-32deg) skew(18deg, 28deg);
    width: 80px;
    transition: all 0.4s ease-in-out;
}

.site_wrapper .ribbon-wrap:before, .site_wrapper .ribbon-wrap:after {
    content: "";
    position: absolute;
    z-index: -2;
}

  .site_wrapper .lblue.right-edge.fork > span {
      background-color: #0fa0f3;
      background: #0fa0f3;
background: -moz-linear-gradient(left,  #0fa0f3 0%, #2989d8 50%, #207cca 99%, #7db9e8 100%);

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0fa0f3), color-stop(50%,#2989d8), color-stop(99%,#207cca), color-stop(100%,#7db9e8));

background: -webkit-linear-gradient(left,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

background: -o-linear-gradient(left,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

background: -ms-linear-gradient(left,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

background: linear-gradient(to right,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fa0f3', endColorstr='#7db9e8',GradientType=1 );


  }
  .site_wrapper .right-edge.fork > span {
      border-radius: 0 5px 0 0;
  }
  .site_wrapper.ie8 .lblue, .site_wrapper .lblue > span, .site_wrapper .lblue.left-corner > span:before, .site_wrapper .lblue.left-corner > span:after, .site_wrapper .lblue.right-corner > span, .site_wrapper .lblue.right-corner > span:before, .site_wrapper .lblue.right-corner > span:after {
      background-color: #42A5D4;
      background: #0fa0f3;

background: -moz-linear-gradient(left,  #0fa0f3 0%, #2989d8 50%, #207cca 99%, #7db9e8 100%);

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0fa0f3), color-stop(50%,#2989d8), color-stop(99%,#207cca), color-stop(100%,#7db9e8));

background: -webkit-linear-gradient(left,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

background: -o-linear-gradient(left,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

background: -ms-linear-gradient(left,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

background: linear-gradient(to right,  #0fa0f3 0%,#2989d8 50%,#207cca 99%,#7db9e8 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fa0f3', endColorstr='#7db9e8',GradientType=1 );
  }
  
  .site_wrapper .ribbon-wrap > span {
      display: block;
      height: 100%;
      position: relative;
  }


  .site_wrapper .lblue.right-edge.fork > span:before {
      border-right-color: #174C66;
      border-top-color: #174C66;
  }
  .site_wrapper .right-edge.fork > span:before {
      border-color: transparent;
      border-radius: 5px 5px 5px 5px;
      border-style: solid;
      border-width: 5px;
      bottom: -5px;
      right: 0;
      transform: rotate(45deg);
  }
  .site_wrapper .ribbon-wrap > span:before, .site_wrapper .ribbon-wrap > span:after {
      content: "";
      position: absolute;
      z-index: -1;
  }

  .site_wrapper .lblue.right-edge.fork > span:after {
      border-color: #0fa0f3 #0fa0f3 #0fa0f3 transparent;
  }

  .site_wrapper .right-edge.fork > span:after {
      border-style: solid;
      border-width: 20px;
      left: -20px;
      top: 0;
  }

/*IE*/

@media all and (min-width:980px) {
  body.IE_windows ul.nav-pills.menu.nav li {
      padding-left: 0.2em;
  }
}

@media all and (min-width:980px) {
  
  body.IE_windows div#nav-inner089 ul.nav-pills.menu.nav {
      margin: -20px auto;
  }
}


/*mobil*/

div.logo_mobil {
    text-align: center;
}

.clear-slider-wrap_mobile img {
    max-width: 95%;
    padding: 10px; 
    margin: 0px auto;
}

/*Responsive*/

@media(max-width: 767px) and (orientation:landscape) {

  body.site .logo.pull-left img {
    max-width: 70px;
  }

}


@media(max-width: 374px) {

  .pull-left.item-image {
      float: none !important;
  }
  
  body.itemid-114 .blog .item-image {
    max-width: 250px !important;
  }
}

@media(max-width: 413px) {

  div.bottom.container {
      max-height: 24px;
  }

  body.itemid-114 .blog .item-image {
    max-width: 150px;
  }

  body main#content div.blog p {
    font-size: 12px;
  }
}

@media(min-width: 375px) and (max-width: 767px) {

  h2.site-description {
    font-size: 18px;
  }

  h2.site-description {
    top: 35px;
  }

  div.item-page div.pull-right.item-image {
      float: none !important;
  }

  body.itemid-114 div.blog div.items-leading,
  body.itemid-114 div.blog div.item {
      margin-bottom: 30px;
  }

  body.itemid-114 .readmore .icon-chevron-right {
    display: inline-block;
  }

}

@media(min-width: 414px) and (max-width: 767px) {

  div.bottom.container {
    max-height: 40px;
  }

  body.itemid-114 .blog .item-image {
    max-width: 190px;
  }

}

@media(max-width: 480px) {

  body.is_home .span4.cat_content {  
      max-width: 240px;
      margin: 0px auto;
  }

  h2.site-description {
    font-size: 16px;
  }

}

@media(min-width: 481px) and (max-width: 767px) {

  body.is_home .span4.cat_content {  
    max-width: 50%;
    margin: 0px auto;
  }

  h2.site-description {
      font-size: 21px;
  }

}

@media(max-width: 767px) {

  .logo.pull-left img {
    max-width: 20%;
  }

  div.desc-container {
    position: relative;
    bottom: 80px;  
    text-align: center;
  }

  body.is_home .row-fluid.span12.logo-container {
      bottom: 17px;
      position: relative;
  }

  .clear-footer {
    border-top: 2px solid #0FA0F3;
  }

  div.copyright p {
      font-size: 9px;
  }

  footer.clear-footer {
    max-height: 25px;
  }

}

@media(max-width: 979px) {
  body .nav-collapse .dropdown-menu {
      display: block;
  }

  body .nav-collapse .dropdown-menu li {
      font-size: 13px;
  }

}

@media(max-width: 1024px) {
  
  body main#content h1 {
    font-size: 22px;
  }

  div.cat_content img.img_hover {
      display: none;      
  }

  div.cat_content img.img_visible {      
      opacity: 1;
  }

  .further_button {
      position: relative;
      bottom: 90px;
      opacity: 1;
      margin: 0px auto;
      width: 70%;
      text-align: center;
      z-index: 2;
      visibility: visible;
  }

  .further_button a {
     padding: 5px 20px;
     font-size: 1em;
     border: 2px solid rgba(255, 255, 255, 0.7);
     color: #fff;
     background-color: none;
     text-decoration: none;
     /*text-transform: uppercase;*/
     text-shadow: 0px 1px 1px #3E3E3E;
  }

  .cat_header {
    position: absolute;
    top: -19px;
  }

  .cat_header h3 {
    font-size: 14px;
  }

  .cat_banner {
    bottom: 30px;
  }

  .cat_banner h3 {
    font-size: 14px;
  }

  .navbar .nav li.dropdown>.dropdown-toggle .caret {
    display: none;
  }

  body.site .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #D6D6D6;
    background-image: none;
    box-shadow: inset 0px 3px 8px 0px rgba(0,0,0,0.125);

  }

  body.site div#slider-vcard p.tel {
      width: 100%;
      color: #0fa0f3;
  }

}


/*social icons*/

ul.social-icons {
    bottom: 25px;
    position: relative;
    margin: 0px auto;
    width: 200px;
}
ul.social-icons li {
    display: inline;
}
@media(min-width: 1280px) {
  ul.social-icons li img.instaLogo {
      transform: scale(1);
      filter: grayscale(0%);
      transition: all .3s ease-in-out;
  }
  ul.social-icons li img.instaLogo:hover {
      transform: scale(1.1);
      filter: grayscale(100%);
  }
}
body.site ul.social-icons li a  {
  display: inline-block;
  border-radius: 4px;
  background-image: none;
  transition: all 0.4s ease-in-out;            
}


body.site .icon {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 8px;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
}


body.site .icon-border {
  position: relative;
}

body.site .icon-border::before,
body.site .icon-border::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

body.site .icon-border::before {
  z-index: 1;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}

body.site .icon-border::after {
  z-index: 2;
  background-color: transparent;
  /*background: url("../../../images/content/icons/icons4.png"); */
  background-image: url("../../../images/content/icons/icons4.svg"), none;
  background-size: cover;
  transition: background-color 0.6s ease-in-out;
}

body.site .icon-border:hover::after {
  background-color: rgba(188, 188, 188, 0.5);
}


/* facebook */
body.site .icon-border.facebook::before {
  box-shadow: inset 0 0 0 48px #3b5998;
}

body.site .icon-border.facebook:hover::before {
  box-shadow: inset 0 0 0 4px #3b5998;
}

body.site .icon-border.facebook::after {
  background-position: 0 0;
}

body.site .span5.clear-right {
    margin: 20px 0px;
    text-align: center;
}

/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #94c120;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #dbf37f;
    text-shadow: none;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #94c120;
    border-color: #94c120;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
      z-index: 999;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}